.object-properties {
    position: absolute;
    width: 300px;
    bottom: 50%;
    right: 0;
}

.additionalActionsToolbar {
    position: absolute;
    width: 29px;
    bottom: 50%;
    left: 0;
}

.helpDialog{
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
}

.map-overlay {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 10px;
}

.map-overlay .map-overlay-inner {
    background-color: #FFFFFFCC;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.map-overlay-inner fieldset {
    border: none;
    padding: 0;
    margin: 0 0 10px;
}

.map-overlay-inner fieldset:last-child {
    margin: 0;
}

.map-overlay-inner label {
    margin: 0 5px 0 0;
}

.map-overlay-inner button {
    background: deeppink;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}